.cdz{
    max-width: 280px;
    
}
.parent{
    padding: 50px;
    align-items: center;
}
.products{
    padding-left: 80px;
    padding-top: 70px;
}
.items{
    display:flex;

}
.headding{
    display: flex;
    align-items: center;
    justify-content: space-between;
}