.top{
    background-color:#3187ED;
    padding:10px 0;
    color: #ffff;
}
.top i{
    margin-right:10px ;
}
.top label{
    margin-right:30px ;
    font-size: 13px;
}




.search {
    padding: 20px 0;
  }

.search .width {
    width: 20%;
  } 
  .search-box {
    width: 70%;
  
    padding: 10px;
    border-radius: 50px;
}
.search-box input {
   
width: 380px;
left: 20px;
top: 95px;
border-radius: 12px;
border: none;

  }
  .search-box span i {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1000px;
    top: 118px;
   color: #3187ED;
  
  }
  .classi{
    font-weight: 500;
    color: #4D4D4D;
    margin-left:100px ;
  
  }

  /* .search .logo img {
    width: auto;
    height: auto;
  }
  .search .width {
    width: 20%;
  }
  /* .search-box {
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.1); */
    /*padding: 10px;*/
    /* border-radius: 50px;
  }
  .search-box i {
    width: 5%;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    padding: 15px 20px;
    font-size: 17px;
  }
  .search-box input {
    width: 100%;
    padding: 10px;
  }
  ::placeholder {
    font-size: 15px;
  }
  .search-box span {
    width: 20%;
    opacity: 0.5;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .cart {
    position: relative;
  }
  .search .cart span {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #e94560;
    font-size: 12px;
    color: #fff;
  }
  .search .f_flex {
    justify-content: end;
  } */