.top{
    background-color:#3187ED;
    padding:10px 0;
    color: #ffff;
}
.top i{
    margin-right:10px ;
}
.top label{
    margin-right:30px ;
    font-size: 13px;
}




.logo{
    padding-left:10px ;
    margin-left: 35px;
}

.logo_1{
    
    transform: scale(3.3);
    width: 75px;
    object-fit: contain;
}
.l_header{
    
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 136px;
    }
.classfied{
    padding-left: 120px;
    display: flex;
    
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


/* Text 2 */

color: #4D4D4D;
    
    
   
    
}
.search{
    
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 3px;
    
}
.search>i{
    color: #3187ED;
    padding: 5px;
     

}
.search>input{
    height: 60px;
    width: 400px;
    border: none;
    outline: none;
    
   
}
.btn>button{
   
width: 130px;
height: 50px;
left: 1606px;
top: 91px;
background: #00C6D7;
border: none;
outline: none;
color: #ffff;
font-weight: bold;
border-radius: 12px;
cursor: pointer;
}
.iconz{
    display: flex;
    width: 150px;
    
    justify-content:space-around;
    padding-left: 20px;
    

}




